<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="logpath" value="D:\vs_2019\SignalRs\DemoSchedueTracking\logs\client_logs\" />
		<add key="hub_url" value="http://localhost:8235/signalr"/>
		<add key="enable_log" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="Test" connectionString="Data Source=suwet_phr2\SQL2014;Initial Catalog = MyTestdb; Persist Security Info=True;User ID = sa; Password=1234qwer" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>